.git/

*.class
**/${sys:catalina.base}/

**/node_modules/
**/frontend/generated/
**/pnpmfile.js
**/.npmrc
**/webpack.generated.js
**/vite.generated.ts

**/target/
**/.gradle
**/build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
