<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logdir">$${sys:catalina.base}/logs</Property>
        <Property name="layout">%d %p %C{1.} [%t] %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%style{%d{ISO8601}}{grey} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <RollingFile name="RollingFile"
            fileName="${sys:catalina.base}/logs/webservices.fcs.fcs_noske_endpoint.fcs.log"
            filePattern="${sys:catalina.base}/logs/$${date:yyyy-MM}/webservices.fcs.fcs_noske_endpoint.fcs-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>${layout}</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- set log level to ALL to get logs from SRU/FCS libraries -->
        <!-- NOTE: if any loggers 'eu.clarin.sru' are defined in another way, always add additivity="true"!!! -->
        <!-- NOTE: the log level does not matter, for log capturing it will be increase to ALL to get everything -->
        <!-- <Logger name="eu.clarin.sru" level="info" additivity="true"></Logger> -->
        <!-- <Logger name="eu.clarin.sru.client" level="info" additivity="true"></Logger> -->

        <!-- set log level for tester -->
        <Logger name="eu.clarin.sru.fcs.tester" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>